{% extends 'layout/base.html' %}

{% block title %}Nhân Viên Dashboard{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
</head>
<body>

<header>
    <h1 class="title">Chào mừng {{ current_user.hoTen }}</h1>
    <!-- Hiển thị thông báo -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}">
        <strong>{{ message }}</strong>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <a href="/logout" class="logout">Đăng xuất</a>
</header>

<main>
    <ul>
        <li><a href="/giao-vien/{{taikhoan}}/danh-sach-lop-day">Danh sách lớp dạy</a></li>
        <li><a href="/giao-vien/{{taikhoan}}/lop-chu-nhiem">Danh sách lớp chủ nhiệm</a></li>
    </ul>
</main>

</body>
{% endblock %}
